<%- include ("../partials/header") %>
    <!-- Page Title
		============================================= -->
    <section id="page-title" class="page-title-mini">

        <div class="container clearfix">
            <h1>Recent Events</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Recent Events</li>
            </ol>
        </div>

    </section>
    <!-- #page-title end -->

    

    <section id="content">

        <div class="content-wrap-events nobottompadding">

            <!-- Portfolio Items
            ============================================= -->
            <div class="row newMints">
                <% for(var i = 0; i < locals.newEvents.length ; i++) {%>
                    <div class="col-xl-3 col-sm-6 mb-3 mt-3">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="numbers">
                                        <!-- <p class="text-sm mb-0">
                                            
                                        </p> -->
                                        <h5>
                                            <a href="../event-profile/<%= locals.newEvents[i].event.id %>">
                                                <%= locals.helpers.truncate(locals.newEvents[i].event.eventName, 20) %><br /></a>
                                            <a href="../ticketeer/<%= locals.newEvents[i].event.ticketeerName %>">
                                                <span class="text-sm font-weight-bolder"><%= locals.newEvents[i].event.ticketeerName %></span></a>
                                        </h5>
                                    </div>
                                    <div class="imgTile" style="background-image: url('<%= locals.newEvents[i].event.imageUrl %> %>' ");>
                                    </div>
                                    <!-- <h6>
                                    </h6> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

            </div>
            <!-- #portfolio end -->

        </div>

    </section>
    <!-- #content end -->

    <script>
        function imgError(image) {
            image.onerror = "";
            image.src = "../img/img-404.png";
            return true;
        }
    </script>
    <%- include ("../partials/footer") %>