<%- include ("../partials/header") %>
<section id="content">
    <div class="content-wrap">
        <div id="mintContainer">
            <div class="container clearfix">
                    <div class="container-fluid py-4">
                        <div class="row newMints">
                            <% for(var i = 0; i < locals.recentMints.firstFour.length ; i++) {%>
                                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row">
                                                <div class="numbers">
                                                    <p class="text-sm mb-0">
                                                        <%= locals.recentMints.firstFour[i].blockTimestamp %>
                                                    </p>
                                                    <h5>
                                                        <a href="../event-profile/<%= locals.recentMints.firstFour[i].event.id %>">
                                                            <%= locals.recentMints.firstFour[i].event.eventName %><br /></a>
                                                        <a href="../ticketeer/<%= locals.recentMints.firstFour[i].event.ticketeerName %>">
                                                            <span class="text-sm font-weight-bolder"><%= locals.recentMints.firstFour[i].event.ticketeerName %></span></a>
                                                    </h5>
                                                </div>
                                                <div class="imgTile" style=`background-image: url('<%= locals.recentMints.firstFour[i].event.imageUrl %>' ` );>
                                                </div>
                                                <h6>
                                                    <%= Number(locals.recentMints.firstFour[i].getDebitedFromSilo).toFixed(6) %> $GET used as fuel.
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>

                        <div class="col_full nobottommargin">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Ticket Number</th>
                                            <th scope="col">Event Name</th>
                                            <th scope="col">Ticketeer Name</th>
                                            <th scope="col">$GET used</th>
                                            <th scope="col">Block Timestamp</th>
                                            <th scope="col">NFT Explorer</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for(var i = 0; i < locals.recentMints.recentMints.length ; i++) {%>
                                            <tr>
                                                <td>
                                                    <%= locals.recentMints.recentMints[i].nftIndex %>
                                                </td>
                                                <td>
                                                    <a href="../event-profile/<%= locals.recentMints.recentMints[i].event.id %>">
                                                        <%= locals.recentMints.recentMints[i].event.eventName %>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="../ticketeer/<%= locals.recentMints.recentMints[i].event.ticketeerName %>">
                                                        <%= locals.recentMints.recentMints[i].event.ticketeerName %>
                                                    </a>
                                                </td>

                                                <td>
                                                    <%= locals.recentMints.recentMints[i].getDebitedFromSilo %>
                                                </td>
                                                <td>
                                                    <%= locals.recentMints.recentMints[i].blockTimestamp %>
                                                </td>
                                                <td>
                                                    <a href="https://explorer.get-protocol.io/ticket/<%= locals.recentMints.recentMints[i].nftIndex %>" target="_blank">View Ticket</a>
                                                </td>
                                            </tr>
                                            <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <script>
            $(document).ready(function() {
                var intervalId = window.setInterval(function() {
                    $.post("/usage/request",
                        function(data, status) {
                            document.getElementById("mintContainer").innerHTML = data.html;
                            document.getElementById("mintCount").innerHTML = `${Number(locals.todayGET.getDebitedFromSilos).toFixed(6)} (${locals.helpers.numberWithCommas(locals.todayGET.mintCount)} tickets)`
                        });
                }, 10000);
            });
        </script>
        <!-- /.content -->
        <%- include ("../partials/footer") %>