<%- include ("partials/header") %>
    <!-- Page Title
		============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>
                <%= locals.helpers.truncate(locals.eventData.thisEventResult.name, 30)%><br/>
                    <strong> <a href="../ticketeer/<%= locals.eventData.thisEventResult.integrator.name%>">
                        <%= locals.eventData.thisEventResult.integrator.name%>
                    </a></strong></h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/usage/newest-events">Events</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="../ticketeer/<%= locals.eventData.thisEventResult.integrator.name%>">
                        <%= locals.eventData.thisEventResult.integrator.name%>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <%= locals.helpers.truncate(locals.eventData.thisEventResult.name, 15) %>
                </li>
            </ol>
        </div>

    </section>
    <!-- #page-title end -->

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="single-event">

                    <div class="col_three_fourth">
                        <div class="entry-image nobottommargin">
                            <div id="eventImgContainer">
                                <div id="eventImgInner">
                                    <div class="imgTileProfile" style="background-image: url(<%=locals.eventData.thisEventResult.imageUrl%>); ">
                                </div>
                              </div>

                            </div>
                        </div>
                    </div>
                    <div class="col_one_fourth col_last">
                        <div class="card events-meta mb-3">
                            <div class="card-header">
                                <h5 class="mb-0">Token Info:</h5>
                            </div>
                            <div class="card-body">
                                <ul class="iconlist nobottommargin">
                                    <li><strong>GET used</strong></li>
                                    <li>
                                        <%= Number(locals.eventData.thisEventResult.reservedFuel).toFixed(6) %>
                                    </li>
                                    <li><strong>Mint count</strong></li>
                                    <li>
                                        <%= locals.helpers.numberWithCommas(locals.eventData.thisEventResult.soldCount) %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card events-meta mb-3">
                            <div class="card-header">
                                <h5 class="mb-0">Event Info:</h5>
                            </div>

                            <div class="card-body">
                                <ul class="iconlist nobottommargin">
                                    <li><i class="icon-calendar3"></i><strong>Start</strong>
                                        <%=locals.eventData.startDate%>
                                    </li>
                                    <li><i class="icon-calendar3"></i><strong>Ends</strong>
                                        <%=locals.eventData.endDate%>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <% if (locals.eventPast) { %>
                            <div class="alert alert-danger" role="alert">
                                This event has ended.
                            </div>
                            <%}else { %>
                                <a href="<%= locals.eventData.thisEventResult.shopUrl %>" class="btn btn-success btn-block btn-lg" target="_blank">Buy Tickets</a>
                                <%} %>
                    </div>

                    <div class="clear"></div>
                    <div class="clear"></div>
                    <div class="col_full nobottommargin">

                        <h4>Recent Ticket History</h4>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Ticket Number</th>
                                        <th scope="col">Interaction Event</th>
                                        <th scope="col">$GET used</th>
                                        <th scope="col">NFT Explorer</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% for(var i = 0; i < locals.eventData.tickets.length ; i++) {%>
                                                <tr>
                                                    <td>
                                                        <%= locals.eventData.tickets[i].id %>
                                                    </td>
                                                    <td>
                                                        <%= locals.eventData.tickets[i].usageEvents.type %>
                                                    </td>
                                                    <td>
                                                        <%= locals.eventData.tickets[i].usageEvents.getUsed %>
                                                    </td>
                                                    <td>
                                                        <a href="https://explorer.get-protocol.io/ticket/<%= locals.eventData.tickets[i].nftId %>" target="_blank" class="btn btn-sm btn-outline-primary">View Ticket</a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                </tbody>
                            </table>
                            <div id="ticketTable">

                            </div>
                            <script>
                                const getChartData = async (number) => {
                                await $.ajax({
                                    url: `/event-profile/${}`,
                                    type: 'GET',
                                    datatype: 'json',
                                    success: (response) => {
                                        if (response !== null) {
                                        
                                        }
                                    }
                                })
                                $('#ticketTable').pagination({
                                    dataSource: locals.tickets,
                                    callback: function(data, pagination) {
                                        // template method of yourself
                                        var html = template(data);
                                        dataContainer.html(html);
                                    }
                                })
                            </script>
                        </div>

                    </div>


                </div>

            </div>

        </div>

    </section>
    <!-- #content end -->

    <%- include ("partials/footer") %>
