<%- include ("partials/header") %>
    <!-- Page Title
		============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>
                <%= locals.eventData.thisEventResult.eventName%><br/>
                    <strong> <a href="../ticketeer/<%= locals.eventData.thisEventResult.ticketeerName%>">
                        <%= locals.eventData.thisEventResult.ticketeerName%>
                    </a></strong></h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Events</li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="../ticketeer/<%= locals.eventData.thisEventResult.ticketeerName%>">
                        <%= locals.eventData.thisEventResult.ticketeerName%>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <%= locals.eventData.thisEventResult.eventName%>
                </li>
            </ol>
        </div>

    </section>
    <!-- #page-title end -->

    <!-- Content
		============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div class="single-event">

                    <div class="col_three_fourth">
                        <div class="entry-image nobottommargin">
                            <div class="imgTileProfile" style="background-image: url(<%=locals.eventData.thisEventResult.imageUrl%>); ">

                            </div>
                        </div>
                    </div>
                    <div class="col_one_fourth col_last">
                        <div class="card events-meta mb-3">
                            <div class="card-header">
                                <h5 class="mb-0">Token Info:</h5>
                            </div>
                            <div class="card-body">
                                <ul class="iconlist nobottommargin">
                                    <li><strong>GET used</strong></li>
                                    <li>
                                        <%= Number(locals.eventData.thisEventResult.getDebitedFromSilo).toFixed(6) %>
                                    </li>
                                    <li><strong>Mint count</strong></li>
                                    <li>
                                        <%= locals.helpers.numberWithCommas(locals.eventData.thisEventResult.mintCount) %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card events-meta mb-3">
                            <div class="card-header">
                                <h5 class="mb-0">Event Info:</h5>
                            </div>

                            <div class="card-body">
                                <ul class="iconlist nobottommargin">
                                    <li><i class="icon-calendar3"></i><strong>Start</strong>
                                        <%=locals.eventData.startDate%>
                                    </li>
                                    <li><i class="icon-calendar3"></i><strong>Ends</strong>
                                        <%=locals.eventData.endDate%>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <% if (locals.eventPast) { %>
                            <div class="alert alert-danger" role="alert">
                                This event has ended.
                            </div>
                            <%}else { %>
                                <a href="<%= locals.eventData.thisEventResult.shopUrl %>" class="btn btn-success btn-block btn-lg" target="_blank">Buy Tickets</a>
                                <%} %>
                    </div>

                    <div class="clear"></div>
                    <div class="clear"></div>
                    <div class="col_full nobottommargin">

                        <h4>Recent Ticket History</h4>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Ticket Number</th>
                                        <th scope="col">Interaction Event</th>
                                        <th scope="col">$GET used</th>
                                        <th scope="col">NFT Explorer</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% for(var i = 0; i < locals.eventData.tickets.length ; i++) {%>
                                        <% if(locals.eventData.tickets[i].type == "NEW_EVENT"){ %>
                                            <!-- --- -->
                                            <% }else{ %>

                                                <tr>
                                                    <td>
                                                        <%= locals.eventData.tickets[i].nftIndex %>
                                                    </td>
                                                    <td>
                                                        <%= locals.eventData.tickets[i].type %>
                                                    </td>
                                                    <td>
                                                        <%= locals.eventData.tickets[i].getDebitedFromSilo %>
                                                    </td>
                                                    <td>
                                                        <a href="https://explorer.get-protocol.io/ticket/<%= locals.eventData.tickets[i].nftIndex %>" target="_blank">View Ticket</a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% } %>

                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>

            </div>

        </div>

    </section>
    <!-- #content end -->

    <%- include ("partials/footer") %>