<%- include ("partials/header") %>
            <div class="container-fluid">
                <div class="row mt-4">
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                        <a href="https://explorer.get-protocol.io/" target="_blank" alt="GET protocol NFT ticket explorer">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Tickets Sold</p>
                                            <h5 class="font-weight-bolder mb-0">
                                                <%= helpers.numberWithCommas(locals.ticketSales)%><br />
                                                    <span class="text-sm font-weight-bolder">view NFT Explorer</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="icon icon-shape getGreen text-center border-radius-md">
                                            <i class="icon-ticket ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                        <a href="https://www.coingecko.com/en/coins/get-protocol" target="_blank" alt="GET protocol - Coin Gecko">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Current Price</p>
                                            <h5 class="font-weight-bolder mb-0">
                                                <%= `$${locals.tokenData.tokenPriceUSD} | €${locals.tokenData.tokenPriceEUR}` %><br />
                                                    <span class="text-sm font-weight-bolder"><%= locals.tokenData.priceChange24h.toFixed(2) %>%</span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                        <a href="https://www.coingecko.com/en/coins/get-protocol" target="_blank" alt="GET protocol - Coin Gecko">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-capitalize font-weight-bold">Market Cap</p>
                                            <h5 class="font-weight-bolder mb-0">
                                                <%= `$${locals.tokenData.marketCapUSD}` %><br />
                                                    <span class="text-sm"><%= `€${locals.tokenData.marketCapEUR}` %></span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="icon icon-shape getGreen text-center border-radius-md">
                                            <i class="icon-chart-line ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                        <a href="map">
                        <div class="card homeTile mapTile">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-12">
                                            <h3 class="text-lg mb-0 text-uppercase font-weight-bold">VIEW MAP</h3> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                        <a href="/usage/newest-events">
                        <div class="card homeTile eventsTile">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-12">
                                            <h3 class="text-lg mb-0 text-uppercase font-weight-bold">Events</h3> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                        <a href="https://twitter.com/GET_comm_dash" target="_blank">
                        <div class="card homeTile botTile">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-12">
                                            <h3 class="text-lg mb-0 text-uppercase font-weight-bold">The Bot</h3> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <!-- end row -->
                <div class="row mt-4">
                    <div class="col-lg-6 col-md-6 mb-md-0 mb-4">
                        <div class="card">
                            <div class="card-header pb-0">
                                <div class="row">
                                    <div class="col-lg-6 col-7">
                                        <h6>Top 10 Events</h6>
                                        <p class="text-sm mb-0">
                                            <span class="font-weight-bold ms-1">by GET used</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0 pb-2">
                                <div class="table-responsive">
                                    <table class="table align-items-center mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-secondary text-xxs">Event Name</th>
                                                <th class="text-secondary text-xxs">Ticketeer Name</th>
                                                <th class="text-secondary text-xxs">Mint Count (tickets)</th>
                                                <th class="text-secondary text-xxs">GET Used</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i = 0; i < locals.topEvents.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <div class="d-flex px-2 py-1">
                                                            <a href="event-profile/<%= locals.topEvents[i].id%>">
                                                                <%= locals.helpers.truncate(locals.topEvents[i].eventName, 30) %>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex px-2 py-1">
                                                            <h6 class="mb-0 text-sm">
                                                                <a href="../ticketeer/<%= locals.topEvents[i].ticketeerName %>">
                                                                    <%= locals.topEvents[i].ticketeerName %>
                                                                </a>
                                                            </h6>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex px-2 py-1">
                                                            <h6 class="mb-0 text-sm">
                                                                <%= locals.helpers.numberWithCommas(locals.topEvents[i].mintCount) %>
                                                            </h6>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex px-2 py-1">
                                                            <h6 class="mb-0 text-sm">
                                                                <%= Number(locals.topEvents[i].getDebitedFromSilo).toFixed(6) %>
                                                            </h6>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-md-0 mb-4">
                        <div class="card">
                            <div class="card-header pb-0">
                                <div class="row">
                                    <div class="col-lg-6 col-7">
                                        <h6>Active Ticketeers</h6>
                                        <p>
                                            <span>Here is a list of the ticketeers that have shown active within a scan of the subGraph.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0 pb-2">
                                <div class="table-responsive">
                                    <table class="table align-items-center mb-0">
                                        <tbody>
                                            <div class="row">
                                            <% for(var i = 0; i < locals.ticketeers.length ; i++) {%>
                                                <div class="col-6 activeTicketeersHome">
                                                    <h6>
                                                        <a href="/ticketeer/<%= locals.ticketeers[i]%>"><%= locals.ticketeers[i]%></a>
                                                    </h6>
                                                </div>
                                            <% } %>
                                            </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-4">
                            <div class="card-header pb-0">
                                <div class="row">
                                    <div class="col-lg-6 col-7">
                                        <h6>Charts</h6>
                                        <p>
                                        <span>Ticket interactions and $GET usage charts.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-0 pb-2">
                                <div class="table-responsive">
                                    <table class="table align-items-center mb-0">
                                        <tbody>
                                            <div class="row">
                                            <a href="/charts" class="btn btn-secondary">View charts</a>
                                            </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <%- include ("partials/footer") %>